<a href="https://colab.research.google.com/github/alexeverson/Colab/blob/main/BTE_320_In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Calculate Surface Area of a Cylinder
pi = 3.14 # Pi
r = 3 # Radius
h = 10 # Height

# Calculate Area
Area = (2 * pi * r **2) + (2 * pi * r * h)
# Display Result on Screen
print(Area)

244.92000000000002

In [4]:
type(r)

int

In [ ]:
import random

play = input("Do you want to play? (yes/no) ")
while play == 'yes':

  p1 = input("Player, please enter choice (r/p/s): ")
  p2 = random.choice(['r', 'p', 's'])

  print(f"Computer chose {p2}")

  if p1 == 'r' and p2 == 's':
    print("Player wins")
  elif p1 == 'r' and p2 == 'p':
    print("Computer wins")
  elif p1 == 'p' and p2 == 'r':
    print("Player wins")
  elif p1 == 'p' and p2 == 's':
    print("Computer wins")
  elif p1 == 's' and p2 == 'r':
    print("Computer wins")
  elif p1 == 's' and p2 == 'p':
    print("Player wins")
  else:
    print("Draw")
  play = input("Do you want to play again? (yes/no) ")
  if play == 'no':
    print("Thank you for playing")

Do you want to play? (yes/no) yes
Player, please enter choice (r/p/s): r
Computer chose r
Draw
Do you want to play again? (yes/no) no
Thank you for playing

In [ ]:
op = input("Please input +, -, *, /, or **")
n1 = input("Please input first number: ")
n2 = input("Please input second number: ")

if op == '+':
  print(float(n1) + float(n2))
elif op == '-':
  print(float(n1) - float(n2))
elif op == '*':
  print(float(n1) * float(n2))
elif op == '/':
  print(float(n1) / float(n2))
elif op == '**':
  print(float(n1) ** float(n2))

Please input +, -, *, /, or **+
Please input first number: 2
Please input second number: 3
5.0

In [ ]:
flat = 5
hourly = 2.5
min = 10
max = 20

for i in range (1,9):
  rate = flat + (i * hourly)
  if rate < 10:
    print(i, min)
  elif rate > 20:
    print(i, max)
  else:
    print(i, rate)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
for ad in range(0,201,25):
  ticketprice = 10
  attend_noad = 20
  fixed = 200
  tickets = 20 + 2*round(ad**.5)

  profit = tickets * ticketprice - ad - fixed
  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
l = []

item = int(input("Give a value: "))

while item != 0:
  l.append(item)
  item = int(input("Give another value: "))
print(l)

Give a value: 1
Give another value: 2
Give another value: 3
Give another value: 4
Give another value: 5
Give another value: 0
[1, 2, 3, 4, 5]

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

h = int(input("Enter number of hours: "))
fee = calcFee(h)
print(f"Your rate is {fee}")

Enter number of hours: 4
Your rate is 15.0

In [ ]:
def calcFee(hours, decimals=2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)
  return fee

def displayFee(fee):
  print(fee)

h = int(input("Enter number of hours: "))
fee = calcFee(h)
displayFee(f"Your rate is {fee}")

Enter number of hours: 4
Your rate is 15.0

In [ ]:
def reverse(s):
  if len(s) == 1:
    return(s)
  else:
   return s[-1] + reverse(s[1:-1]) + s[0]

reverse('Hello')

In [5]:
def wAvg(L, w):
  try:
    res = []
    for i in range(len(L)):
     res.append(w[i] * L[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print('Divded by zero')
    return None
  except TypeError:
    print('Non-numerical objects found')
    return None
  except Exception as e:
    print(f'Unknown error: {e}')
    return float('nan')
wAvg([1, 2, 3], [.2, 0, -.2])

Divded by zero

**----------**

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.__courses = [ ]

  def enroll(self, course):
    if course not in self.__courses:
      self.__courses.append(course)
    else:
      print("Already enrolled in", course)

  def get_courses(self):
    return self.__courses

  def __repr__(self):
    return f"Name: {self.name}"

In [ ]:
s1 = Student("Brock Purdy", 13,)
s2 = Student("Jake Moody", 4,)

s1

Name: Brock Purdy

In [ ]:
s1.enroll("Math")

In [ ]:
s1.get_courses()

['Math']